<template>
  <div>
    // refactor using Matt tut advanced components with renderless component
    <!-- Async Component -->
    <async-get :url="`https://jsonplaceholder.typicode.com/posts`">
      <!-- Scoped Slot of Async Component -->
      <template v-slot:default="{ pending, error, response }">
        <!-- Request Pending -->
        <div v-if="pending" class="text-center">
          <loader
            object="#ff9633"
            color1="#ffffff"
            color2="#17fd3d"
            size="5"
            speed="2"
            bg="#343a40"
            objectbg="#999793"
            opacity="80"
            disableScrolling="false"
            name="spinning"
          ></loader>
        </div>

        <!-- Request Error -->
        <div
          v-else-if="error"
          class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4"
          role="alert"
        >
          {{ error }}
        </div>

        <!-- Request Success -->
        <div v-else class="container">
          <div class="heading">
            <h1>Posts from JSONPlaceholder API</h1>
          </div>
          <div class="row">
            <div v-for="posting in response" :key="posting.id" class="card">
              <div class="card-header">
                <h3>{{ posting.title }}</h3>
              </div>
              <div class="card-body">
                <p>{{ posting.body }}</p>
                <p class="author">by {{ posting.userId }}</p>
              </div>
            </div>
          </div>
        </div>
      </template>
    </async-get>
  </div>
</template>

<script>
import "../app/app.store.js";
import AsyncGet from "./AsyncGet.vue";

export default {
  components: {
    AsyncGet,
  },
  data: function () {
    return {};
  },
  computed: {
    msg: function () {
      return this.$store.state.homepage_msg;
    },
  },
  mounted: function () {},
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  margin: 10px;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: #000;
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .author {
  display: block;
  color: #fff;
  text-align: center;
  background: #000;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
</style>
