<template>
  <div>
    <h1>{{ title }}</h1>

    <div class="container">
      <button
        :class="{
          'button-asc': !sortByUsername,
          'button-disabled': sortByUsername,
        }"
        v-on:click="sortByUsername = true"
      >
        <span>{{ sortByUsername ? "Sorted ACS" : "Sort (ASC)" }}</span>
      </button>

      <button
        :class="{
          'button-desc': sortByUsername,
          'button-disabled': !sortByUsername,
        }"
        v-on:click="sortByUsername = false"
      >
        <span>{{ sortByUsername ? "Sort (DESC)" : "Sorted DESC" }}</span>
      </button>
    </div>

    <ul>
      <li v-for="user in users" :key="user.id">
        <Avatar :username="user.name" :size="50"></Avatar>
        <span
          >{{ user.username }} ({{ user.name }}) working at
          {{ user.company.name }}</span
        >
      </li>
    </ul>
  </div>
</template>

<script>
import "../app/app.store.js";
import Avatar from "vue-avatar";
import { mapGetters } from "vuex";

export default {
  components: {
    Avatar,
  },
  data: function () {
    return {
      title: "Users page",
      sortByUsername: false,
    };
  },
  computed: {
    ...mapGetters({
      usersFromStore: "users",
    }),
    users: {
      get() {
        return this.usersFromStore;
      },
      set(newUsers) {
        return newUsers;
      },
    },
    msg: function () {
      return this.$store.state.users_msg;
    },
  },
  watch: {
    sortByUsername: function (val) {
      let self = this;
      self.users = self.sortBy(self.users, "username", val);
    },
  },
  mounted: function () {},
  methods: {
    /**
     * Sorting method
     * Takes an array
     */
    sortBy: function (array, param, reverse) {
      let filterA, filterB;
      return array.sort(function (a, b) {
        switch (param) {
          case "id":
            filterA = a.id;
            filterB = b.id;
            break;
          case "username":
            filterA = a.username;
            filterB = b.username;
            break;
          case "email":
            filterA = a.email;
            filterB = b.email;
            break;
          case "company":
            filterA = a.company.name;
            filterB = b.company.name;
            break;
        }
        if (reverse) {
          return filterA > filterB ? 1 : -1;
        } else {
          return filterA < filterB ? 1 : -1;
        }
      });
    },
  },
};
</script>

<style scoped>
.container {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
}
.button-asc,
.button-desc,
.button-disabled {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  margin: 0 0 0 100px;
  border-radius: 4px;
  border: none;
  padding: 20px;
  width: 200px;
  flex-grow: 1;
}

.button-asc {
  background-color: #d35400;
}

.button-desc {
  background-color: #0ac250;
}

.button-disabled {
  background-color: #77807a;
}

.button-asc span,
.button-desc span,
.button-asc span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #fff;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

li span {
  padding-left: 10px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
}
</style>
